<div class="container">
  <h2><%= current_user.first_name %>, all your booking's requests:</h2>

    <% @bookings.each do |booking| %>
      <div class="card-trip card-booking">
        <h2><%= booking.instrument.name.capitalize %></h2>
        <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
        <br>
        <div class="card-booking-content">
        <%= booking.content %>
        <br>
        <% if booking.status == nil %>
          <%= link_to "Accept", booking_accept_path(booking), class: "btn btn-primary", method: :patch %>
          <%= link_to "Reject", booking_reject_path(booking), class: "btn btn-secondary", method: :patch %>
          <% else %>
          <p class="btn">Accepted</p>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
