<div class="container">
<div class="selectors">
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Category
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Piano</a>
    <a class="dropdown-item" href="#">Violin</a>
    <a class="dropdown-item" href="#">Guitar</a>
    <a class="dropdown-item" href="#">Drums</a>
    <a class="dropdown-item" href="#">Flute</a>
    <a class="dropdown-item" href="#">Other</a>
  </div>
</div>
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Price
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">$10 - $149</a>
    <a class="dropdown-item" href="#">$150 - $499</a>
    <a class="dropdown-item" href="#">$500 - $999</a>
    <a class="dropdown-item" href="#">$1,000 +</a>
  </div>
</div>
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Location
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Montreal</a>
    <a class="dropdown-item" href="#">Sherbrooke</a>
    <a class="dropdown-item" href="#">Quebec City</a>
    <a class="dropdown-item" href="#">Toronto</a>
    <a class="dropdown-item" href="#">Vancouver</a>
  </div>
</div>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<% @instruments.each do |instrument| %>
  <div class="card-product" id="products">
    <img src=<%="https://source.unsplash.com/185x185/?#{instrument.category}"%> />
    <div class="card-product-infos">
      <div class="card-product-info-left">
        <h1><%= instrument.name.titleize %></h1>
        <h3><%= instrument.category.capitalize %></h3>
        <p id="description"><%= instrument.description %></p>
        <%= link_to "Show instrument", instruments_path(instrument), class: 'card-link' %>
      </div>
      <div class="card-product-info-right">
        <h3><%= instrument.location %></h3>
        <h4>$<%= instrument.price %></h4>
      </div>
    </div>
  </div>
<% end %>
</div>

<!-- <div class="row">
    <% @instruments.each do |instrument| %>
      <div class="col-12 col-md-6 col-lg-3">
          <div class="card-description">
            <h2><%= instrument.name %></h2>
          </div>
          <%= link_to "", instruments_path(instrument), class: 'card-link' %>
        </div>
    <% end %>
  </div> -->

